@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn{
    @apply hidden h-6 md:inline-flex
    cursor-pointer hover:scale-125 transition
    duration-100 transform ease-out;
  }
  .btnCus{
    @apply h-7 hover:scale-125 cursor-pointer transition-all duration-150 ease-out;
  }
}
